body{
    margin: 50px;
    padding: 20px;
    background-color: DarkTurquoise;
    color: FloralWhite;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4em;
    text-align: center;
}
